[Unit]
Description=AdrienCoder Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=__SERVICE_USER__
WorkingDirectory=__APP_PATH__
ExecStart=__APP_PATH__/AdrienCoder.Server
Restart=always
RestartSec=5
KillSignal=SIGINT
SyslogIdentifier=adriencoder
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_NOLOGO=true

[Install]
WantedBy=multi-user.target
